@font-face {
  font-family: "font1";
  src: url(font/Afacad-Regular.ttf);
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.schedule {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 0fr);
  gap: 1px;
}

.cour {
  color: red;
  font-weight: 700;
}

.tp {
  color:rgb(0, 213, 128);
  font-weight: 700;
}

.td {
  color:rgb(36, 178, 185);
  font-weight: 700;
}

.slot {
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 10px;
  font-family: font1;
  background-color: white;
}

.head {
  background-color: grey;
  color: white;
}

.empty {
  background-color: rgba(212, 212, 212, 0.646);
}

.full {
  text-align: center;

  div {
    background-color: rgb(254, 254, 230);
    border-radius: 0.3em;
    /* border: 1px solid black; */
    margin: 3px;
    padding: 2px;
  }
}

h1 {
  font-family: font1;
  color: white;
  text-align: center;
}

.sciw {
  background-color: #fee041;
}

.english {
  background-color: #cae594;
}

.data-analysis {
  background-color: #7dd2cd;
}

.adv-prg-tech {
  background-color: #bed8bd;
}

.comp-prb-sol {
  background-color: #fdb9b0;
}

.web-sem-web {
  background-color: #dbd8ad;
}

.serv-or-arch {
  background-color: #f2d5b3;
}

.dec-aid-sys {
  background-color: #cce7f0;
}

footer {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
    font-family: font1;
    font-size: 20px;
  }
  a:hover {
    color: aquamarine;
  }
}

@media screen and (max-width: 768px) {
  .slot {
    padding: 3px;
    font-size: 10px;
  }

  .schedule {
    width: 100%;
  }

  .full{
    /* min-width: 4rem; */
    /* max-width: fit-content; */
    width: 90%;
    margin: 0 auto
  }

  body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background-size: cover;
    background-attachment: fixed;
  }

}
